/* src/app/navbar/navbar.component.css */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
  
.app-title {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin: auto;
}
  
.logo-block{
    position: absolute;
}

.spacer {
    flex: 1;
}
  
.sidenav-container {
    height: 100vh;
}
  
.sidenav {
    width: 150px;
}

.content {
    padding: 16px;
}
