<div class="Transaction List">
    <h1 class="pheader">{{title}}</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.descr }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
        </tbody>
    </table>
</div>
